<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
	<appSettings>
		<add key="ClientValidationEnabled" value="true"/>
		<add key="UnobtrusiveJavaScriptEnabled" value="true"/>
	</appSettings>

	<system.web>
		<globalization culture="en" uiCulture="en" requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8"/>
		<customErrors mode="Off"></customErrors>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			</assemblies>
		</compilation>

		<authentication mode="Forms">
			<forms loginUrl="~/Account/LogOn" timeout="2880" />
		</authentication>

		<pages>
			<namespaces>
				<add namespace="System.Web.Helpers" />
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Routing" />
				<add namespace="System.Web.WebPages"/>
			</namespaces>
		</pages>
	</system.web>

	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.serviceModel>
		<client>
			<endpoint address="http://sdk4report.eucp.b2m.cn:8080/sdk/SDKService"
						 binding="basicHttpBinding" bindingConfiguration="SDKServiceBinding"
						 contract="SMSService.SDKClient" name="SDKService" />
			<endpoint address="http://lvlichengtupian.demo.linku.com.cn/TupianShangchuanWebService.asmx"
						 binding="basicHttpBinding" bindingConfiguration="TupianShangchuanWebServiceSoap"
						 contract="TupianShangchuanWebService.TupianShangchuanWebServiceSoap"
						 name="TupianShangchuanWebServiceSoap" />
			<endpoint address="http://lvlichengtupian.demo.linku.com.cn/TupianShangchuanWebService.asmx"
						 binding="basicHttpBinding" bindingConfiguration="TupianShangchuanWebServiceSoap1"
						 contract="TupianFuwu.TupianShangchuanWebServiceSoap" name="TupianShangchuanWebServiceSoap1" />
			<endpoint address="http://lvdongqingwjtb.linku.com.cn/Service/WenjianTongbu.asmx"
						 binding="basicHttpBinding" bindingConfiguration="WenjianTongbuSoap"
						 contract="WenjianTongbuService.WenjianTongbuSoap" name="WenjianTongbuSoap" />
		</client>
		<bindings>
			<basicHttpBinding>
				<binding name="SDKServiceBinding" />
				<binding name="TupianShangchuanWebServiceSoap" />
				<binding name="TupianShangchuanWebServiceSoap1" />
				<binding name="WenjianTongbuSoap" />
			</basicHttpBinding>
			<webHttpBinding>
				<binding name="binding1" closeTimeout="00:03:00" openTimeout="00:03:00"
								 receiveTimeout="00:10:00" sendTimeout="00:03:00" maxBufferSize="500000000"
								 maxBufferPoolSize="500000000" maxReceivedMessageSize="500000000">
					<readerQuotas maxStringContentLength="500000000" maxArrayLength="500000000"
										 maxBytesPerRead="500000000" />
					<security mode="None" />
				</binding>
			</webHttpBinding>
		</bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior name="">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
			</serviceBehaviors>
			<endpointBehaviors>
				<behavior name="REST">
					<webHttp/>
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<!--<serviceHostingEnvironment multipleSiteBindingsEnabled="true" />-->
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
		<services>
			<!--用户-->
			<service name="MvcApplication1.Service.CsRestService">
				<endpoint address="" behaviorConfiguration="REST" binding="webHttpBinding"  bindingConfiguration="binding1" contract="MvcApplication1.Service.ICsRestService"/>
			</service>
		</services>
	</system.serviceModel>
</configuration>
